.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.container-xy .small {
    font-size: 0.12rem;
}

.blackColor {
    color: black;
}

.item-number input {
    width: 100px;
    font-size: 0.2em
}

.main-page-header .bui-nav .short21 {
    background-image: url("../images/home_icon21.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.profit-page-total .total-title .total-price {
    text-align: right;
    font-size: 0.24rem;
    color:red;
}

.common-profit-list .item-number {
    font-size: 0.24rem;
}

    .common-profit-list .item-number .min-font {
        font-size: 0.18rem;
        color: #999;
    }

.common-tab .tab-name {
    display: inline-block;
    padding: .2rem .08rem .18rem;
    color: #333;
    font-size: .2rem;
    border-bottom: 2px solid transparent;
}
.common-tab .active .tab-name {
    color: #4ca4fe;
    border-bottom-color: #4ca4fe;
}







.profit-page2 .nav-list .bui-fluid {
    padding-top: .1rem;
}

.profit-page2 .nav-list .nav-item {
    padding: 0 .2rem .1rem;
    border-top: .2rem solid #f7f8f9;
}

.profit-page2 .nav-list .nav-title {
    padding: .15rem 0;
    font-size: 0.24rem;
    border-bottom: 1px solid #eee;
}

.profit-page2 .nav-list .nav-mark {
    color: #333333;
}

.profit-page2 .nav-list .item-number {
    margin-right: .1rem;
    color: #666666;
}

.profit-page2 .nav-list .nav-icon {
    display: inline-block;
    margin-right: .07rem;
    width: .32rem;
    height: .32rem;
    vertical-align: -3px;
    background-size: contain;
}

.profit-page2 .nav-list .icon1 {
    background-image: url("../images/list_icon11.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.profit-page2 .nav-list .icon2 {
    background-image: url("../images/list_icon12.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.profit-page2 .nav-list .icon-listright {
    margin-top: .05rem;
}

.profit-page2 .nav-list .red-color {
    color: #f9493f;
}
.bui-tab .profit-page2 .bui-nav li {
    border: 0 none #FFF;
}
/***项目利润**/
.profit-page2 .nav-list .icon-income {
    background-image: url("../images/list_icon24.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.profit-page2 .nav-list .icon-output {
    background-image: url("../images/list_icon25.png");
    background-position: center center;
    background-repeat: no-repeat;
}






    .Invoice-page .mainL .inputT .bui-box .bui-label {
        width: 0.9rem;
    }




    .Invoice-page .mainL .inputT .bui-box .bui-check label {
        width: auto;
    }

.List-kedan-fenpei {
    padding: 0.2rem;
    border-bottom: 0.005rem solid #EEE;
}

    .List-kedan-fenpei .FontsSet01 {
        color: #000;
    }

    .List-kedan-fenpei .FontsSet02 {
        font-size: 0.18rem;
    }

    .List-kedan-fenpei .FontsSet03 {
        font-size: 0.18rem;
    }

    .List-kedan-fenpei .FontsSet04 input {
        font-size: 0.22rem;
        color: darkblue;
    }





    .List-shoukuanjieduang .FontsSet02 {
        font-size: 0.18rem;
    }

    .List-shoukuanjieduang .FontsSet03 {
        text-align: right;
    }

    .List-shoukuanjieduang .textR {
        text-align: right;
    }


.Invoice-page .textR {
    text-align: right;
}


.InvoiceList-page .div_List1 {
    padding: 0.1rem;
}

    .InvoiceList-page .div_List1 .bui-box {
        padding: 0.1rem;
    }


.InvoiceList-page .textR {
    text-align: right;
}
.InvoiceList-page .textRbg {
    text-align: right;
    background-color: #cce4fc;
    color: #047613;
    width:2rem;
}
    .InvoiceList-page .textRbg .text {
        position: absolute;
    }
    .InvoiceList-page .textRbg .divx {
        background-color: #80befe;
    }



.ClientSelect-page .div_List1 {
    padding: 0.1rem;
}
    .ClientSelect-page .div_List1 .bui-box {
        padding: 0.1rem;
    }




.InvoiceInvalidList-page .divx .bui-box span {
    font-size: .16rem;
}
.InvoiceInvalidList-page .divx .bui-box {
    text-align: center;
}

.InvoiceInvalidList-page .divx h5 {
    padding: 0;
    margin: 0;
}
.InvoiceInvalidList-page .divx {
    padding: 0.1rem;
}
    .InvoiceInvalidList-page .divx .inx {
        border: 0.02rem solid #EEE;
        border-radius: 0.05rem;
        padding: 0.1rem;
        background-color: #FFF;
    }


/*首页进行中按钮*/
.main-page .quick-nav .bui-btn.active {
    border-bottom: 1px solid #52a4ff;
}


.pages-client .bui-label2 {
    color: #222;
}




.TravelBudget-page .K_text .k_title {
    padding: 0.5rem;
    border-bottom: 0.02rem solid #EEE;
    padding: 0.1rem;
    background-color: #FFF;
}







.TravelBudget-page .k_divx {
    padding: 0.1rem;
}

    .TravelBudget-page .k_divx .k_inx {
        padding: 0.1rem;
        border: 0.02rem solid #EEE;
        border-radius: 0.1rem;
        background-color: #FFF;
    }
        .TravelBudget-page .k_divx .k_inx .k_title {
            padding: 0.1rem;
            border-bottom: 0.02rem solid #EEE;
            padding: 0.1rem;
        }



.Ps_Kpage .K_list {
    padding: 0.06rem;
    border-top: none;
}
    .Ps_Kpage .K_list .K_list_box {
        border-top: none;
        padding: 0.06rem;
        border-bottom: none;
    }


    .Ps_Kpage .K_list .K_list_box_padding {
        padding: 0.06rem;
        border: 0.02rem solid #EEE;
        border-radius: 0.1rem;
        background-color: #FFF;
    }

    .Ps_Kpage .K_list .K_list_box_tittle {
        padding: 0.1rem;
        border-bottom: 0.02rem solid #EEE;
    }

    .Ps_Kpage .K_list .K_list_box .K_list_qlist .bui-box {
        padding: 0.15rem;
        border-bottom: 1px dashed #EEE;
    }

    .Ps_Kpage .K_list .K_list_box .K_list_qlist .bui-box:last-child{
        border-bottom: none;
    }


    






.Ps_Kpage .icon-plus {
    background: inherit;
    color: #09bb07;
}