.collectionAdd{
	.bui-list{

		margin-bottom:.2rem;
		background-color: #fff;
		.bui-btn{
			padding-left:0;
			padding-right:0;
		}
	}
}

.collectionList{
	.info-title{
		margin-bottom:.05rem;
		color:#333;
	}
	.sub-title{
		font-size: $font18;
		color:#999;
	}
  .sT05{
  	color:#999;
  }
  .bui-list{
  	.align-center{
  		text-align:center;
  	}
  }
  .icon-plus{
  	font-size:.3rem;
  }
}