.short-icon-list{
	.short-item{
		padding-top:.2rem;
		padding-bottom:.2rem;
		border:none;
	}
	.wrap-icon{
		margin-right:.25rem;
	}
	.short-icon{
		width:.58rem;
		height:.58rem;
	}
	.span1{
		font-size: .24rem;
		color:#333;
	}
}