
<div class="bui-page approve-page">
    <header class="common-header">
        <div class="bui-bar">
            <div class="bui-bar-left">
                <span class="bui-btn btn-back"> <i class="icon-back"></i>
                </span>
            </div>
            <div class="bui-bar-main">合同审批</div>
            <div class="bui-bar-text">
                审批记录
            </div>
        </div>
    </header>
    <main>
        <div class="container-x wrap-textarea">
            <h2 class="container-y approve-title">
                处理意见
            </h2>
            <div class="container-y">
                <textarea name="" placeholder="填写处理意见" class="input-content"></textarea>
            </div>
        </div>
        <div class="bui-box-space approve-btn container-y">
            <div class="span1">
            <div class="bui-btn disagree">不同意</div>
            </div>
            <div class="span1">
            <div class="bui-btn agree">同意</div>
            </div>
        </div>
    </main>
</div>