
<div class="bui-page contractLaunch-page">
    <header class="common-header">
        <div class="bui-bar">
            <div class="bui-bar-left">
                <span class="bui-btn btn-back"> <i class="icon-back"></i>
                </span>
            </div>
            <div class="bui-bar-main">发起会审</div>
            <div class="bui-bar-right"></div>
        </div>
    </header>
    <main>
        <div class="bui-list short-title-list">
            <div class="bui-box bui-btn">
                <div class="span1">签订公司</div> <i class="icon-listright"></i>
            </div>
            <div class="bui-box bui-btn">
                <div class="span1">销售公司</div>
                <i class="icon-listright"></i>
            </div>
        </div>
        <h4 class="section-title">合同列表</h4>
        <div class="bui-list contract-list">
            <div class="contract-item">
                <div class="bui-box item-up">
                   <h5 class="item-title span1">(Kive)云沐精密机械第一单1</h5> 
                   <span class="bui-right mark">非框架</span>
                </div>
                <div class="bui-box item-down">
                    <div class="span1">
                        <p class="detail"><span class="type">常规收入合同</span><span class="name">张亮亮</span><span class="time">2013-11-11 12:00</span></p>
                        <p class="detail"><span class="time">合同金额：</span><strong class="price">￥100,00</strong></p>
                    </div>
                    <span class="blue-btn btn">发起会审</span>
                </div>
            </div>
            <div class="contract-item">
                <div class="bui-box item-up">
                   <h5 class="item-title span1">(Kive)云沐精密机械第一单1</h5> 
                   <span class="bui-right mark">非框架</span>
                </div>
                <div class="bui-box item-down">
                    <div class="span1">
                        <p class="detail"><span class="type">常规收入合同</span><span class="name">张亮亮</span><span class="time">2013-11-11 12:00</span></p>
                        <p class="detail"><span class="time">合同金额：</span><strong class="price">￥100,00</strong></p>
                    </div>
                    <span class="blue-btn btn">发起会审</span>
                </div>
            </div>
        </div>
    </main>
</div>