
<div class="bui-page contractInfo-page">
    <header class="common-header">
        <div class="bui-bar">
            <div class="bui-bar-left">
                <span class="bui-btn btn-back"> <i class="icon-back"></i>
                </span>
            </div>
            <div class="bui-bar-main">合同信息-收款</div>
            <div class="bui-bar-right"></div>
        </div>
    </header>
    <main>
        <div class="container-xy">
            <div class="bui-list contractInfo-list">
                <div class="contractInfo-item finish-item">
                    <div class="bui-box item-type container-xy">
                        <div class="span1 time">应收日期：2015-02-11</div>
                        <span class="bui-right type">收款：<strong class="blue-status">首付款</strong></span>
                    </div>
                    <div class="container-xy">
                        <h2 class="info-title">完成工程所有软件并支付方工程师测试通过后</h2>
                        <div class="bui-box item-detail">
                            <div class="span1">计划收款金额 <b class="light">1800,000</b></div>
                            <div class="span1">占合同金额比例<b class="light">9.91%</b></div>
                        </div>
                        <div class="bui-box item-detail">
                            <div class="span1">是否实施<b class="light">否</b></div>
                            <div class="span1">收款情况<b class="light green">已收</b></div>
                        </div>
                    </div>
                </div>
                <div class="contractInfo-item">
                    <div class="bui-box item-type container-xy">
                        <div class="span1 time">应收日期：2015-02-11</div>
                        <span class="bui-right type">收款：<strong class="green-status">验收款</strong></span>
                    </div>
                    <div class="container-xy">
                        <h2 class="info-title">完成工程所有软件并支付方工程师测试通过后</h2>
                        <div class="bui-box item-detail">
                            <div class="span1">计划收款金额 <b class="light">1800,000</b></div>
                            <div class="span1">占合同金额比例<b class="light">9.91%</b></div>
                        </div>
                        <div class="bui-box item-detail">
                            <div class="span1">是否实施<b class="light">否</b></div>
                            <div class="span1">收款情况<b class="light red">未收</b></div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </main>
</div>