<!-- 这里还是一个标准的BUI页面 -->
<div class="bui-page profit-page orderIncome-page white-page">
    <header class="common-header">
        <div class="bui-bar">
            <div class="bui-bar-left">
                <span class="bui-btn btn-back"> <i class="icon-back"></i>
                </span>
            </div>
            <div class="bui-bar-main">项目订单收入</div>
            <div class="bui-bar-right">
                <div class="bui-btn" href="pages/template/approveRecord.html">
                    <i class="edit-icon"></i>
                </div>
                
            </div>
        </div>
    </header>
    <main>
        <div class="bui-align-center orderIncome-page-title">
            <span class="mark-title">利润(元)</span>
            <h5 class="number-total">1,659,260</h5>
        </div>
        <div class="nav-list">
            <div class="nav-item">
                <div class="bui-box nav-title">
                    <div class="span1 nav-mark"> <i class="nav-icon icon-project"></i>
                        项目收入
                    </div>
                    <span class="item-number">1234,222</span>
                    <i class="icon-listright"></i>
                </div>
                <ul class="bui-nav bui-fluid common-nav">
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">300,000</div>
                        <span class="mark">项目收入</span>
                    </li>
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">0.00</div>
                        <span class="mark">软件收入</span>
                    </li>
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">0.00</div>
                        <span class="mark">硬件收入</span>
                    </li>
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">300,000</div>
                        <span class="mark">云租赁收入</span>
                    </li>
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">200</div>
                        <span class="mark">其他收入</span>
                    </li>
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">0</div>
                        <span class="mark">自有产品</span>
                    </li>
                </ul>
            </div>
            <div class="nav-item">
                <div class="bui-box nav-title">
                    <div class="span1 nav-mark">
                        <i class="nav-icon icon-project"></i>
                        项目支出
                    </div>
                    <span class="item-number">1234,222</span>
                    <i class="icon-listright"></i>
                </div>
                <ul class="bui-nav bui-fluid common-nav">
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">300,000</div>
                        <span class="mark">差旅费</span>
                    </li>
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">200</div>
                        <span class="mark">项目经费</span>
                    </li>
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">0</div>
                        <span class="mark">资金占用成本</span>
                    </li>
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">300,000</div>
                        <span class="mark">差旅费</span>
                    </li>
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">200</div>
                        <span class="mark">项目经费</span>
                    </li>
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">0</div>
                        <span class="mark">资金占用成本</span>
                    </li>
                </ul>
            </div>
            <div class="nav-item">
                <div class="bui-box nav-title">
                    <div class="span1 nav-mark">
                        <i class="nav-icon icon-project"></i>
                        项目支出
                    </div>
                    <span class="item-number">1234,222</span>
                    <i class="icon-listright"></i>
                </div>
                <ul class="bui-nav bui-fluid common-nav">
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">300,000</div>
                        <span class="mark">差旅费</span>
                    </li>
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">200</div>
                        <span class="mark">项目经费</span>
                    </li>
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">0</div>
                        <span class="mark">资金占用成本</span>
                    </li>
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">300,000</div>
                        <span class="mark">差旅费</span>
                    </li>
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">200</div>
                        <span class="mark">项目经费</span>
                    </li>
                    <li class="span4 bui-btn bui-box-vertical">
                        <div class="span1">0</div>
                        <span class="mark">资金占用成本</span>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>