
<div class="bui-page payTotal-page white-page">
    <header class="common-header">
        <div class="bui-bar">
            <div class="bui-bar-left">
                <span class="bui-btn btn-back"> <i class="icon-back"></i>
                </span>
            </div>
            <div class="bui-bar-main">支出汇总</div>
            <div class="bui-bar-right"></div>
        </div>
    </header>
    <main>
        <div class="profit-page-total">
            <div class="payTotal-part container-x">
                <h2 class="container-y part-title">费用统计</h2>
                <div class="bui-box container-xy">
                    <div class="wrap-chart" id="payTotalPie"></div>
                    <div class="span1">
                        <dl class="wrap-chart-text">
                            <dd class="chart-text-item chart-text-item1"> <i class="dot"></i>
                                <span class="name">客户订单</span>
                                <span class="bui-right text-number">88000</span>
                            </dd>
                            <dd class="chart-text-item chart-text-item2">
                                <i class="dot"></i>
                                <span class="name">项目订单</span>
                                <span class="bui-right text-number">88000</span>
                            </dd>
                            <dd class="chart-text-item chart-text-item3">
                                <i class="dot"></i>
                                <span class="name">项目支出</span>
                                <span class="bui-right text-number">88000</span>
                            </dd>
                            <dd class="chart-text-item chart-text-item4">
                                <i class="dot"></i>
                                <span class="name">项目销售成本</span>
                                <span class="bui-right text-number">88000</span>
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>
            <div class="payTotal-part container-x">
                <h2 class="container-y part-title">项目销售成本</h2>
                <ul class="bui-nav common-nav">
                    <li class="bui-btn bui-box-vertical">
                        <div class="span1">1000</div>
                        <span class="mark">杂项成本</span>
                    </li>
                    <li class="bui-btn bui-box-vertical">
                        <div class="span1">0</div>
                        <span class="mark">中标服务费</span>
                    </li>
                    <li class="bui-btn bui-box-vertical">
                        <div class="span1">2000</div>
                        <span class="mark">商务合作费</span>
                    </li>
                    <li class="bui-btn bui-box-vertical">
                        <div class="span1">2000</div>
                        <span class="mark">其他费用</span>
                    </li>
                </ul>
            </div>
            <div class="bui-tab" id="uiPayTotalTab">
                <div class="bui-tab-head common-tab">
                    <ul class="bui-nav">
                        <li class="bui-btn active">
                            <span class="tab-name">客户订单</span>
                        </li>
                        <li class="bui-btn">
                            <span class="tab-name">项目订单</span>
                        </li>
                        <li class="bui-btn">
                            <span class="tab-name">项目支出</span>
                        </li>
                    </ul>
                </div>
                <div class="bui-tab-main">
                    <ul>
                        <li>
                            <div class="bui-box bui-btn total-title">
                                <div class="span1">
                                    <h3 class="total-mark">客户订单合计支出</h3>
                                </div>
                                <span class="part-price">￥222,222,22</span>
                            </div>
                            <div class="bui-list common-profit-list">
                                <div class="bui-box bui-btn">
                                    <div class="span1">
                                        <h6 class="item-name">
                                            技术服务收入
                                            <span class="bui-right item-number">+688,000.00</span>
                                        </h6>
                                        <div class="item-detail">
                                            <span>02-10 11:15</span>
                                            <span class="bui-right">税金&nbsp;&nbsp;0.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bui-box bui-btn">
                                    <div class="span1">
                                        <h6 class="item-name">
                                            自有收入
                                            <span class="bui-right item-number red">+688,000.00</span>
                                        </h6>
                                        <div class="item-detail">
                                            <span>02-10 11:15</span>
                                            <span class="bui-right">税金&nbsp;&nbsp;0.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bui-box bui-btn">
                                    <div class="span1">
                                        <h6 class="item-name">
                                            其他收入
                                            <span class="bui-right item-number">+688,000.00</span>
                                        </h6>
                                        <div class="item-detail">
                                            <span>02-10 11:15</span>
                                            <span class="bui-right">税金&nbsp;&nbsp;0.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bui-box bui-btn">
                                    <div class="span1">
                                        <h6 class="item-name">
                                            云租赁收入
                                            <span class="bui-right item-number red">+688,000.00</span>
                                        </h6>
                                        <div class="item-detail">
                                            <span>02-10 11:15</span>
                                            <span class="bui-right">税金&nbsp;&nbsp;0.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bui-box bui-btn">
                                    <div class="span1">
                                        <h6 class="item-name">
                                            软件收入
                                            <span class="bui-right item-number">+688,000.00</span>
                                        </h6>
                                        <div class="item-detail">
                                            <span>02-10 11:15</span>
                                            <span class="bui-right">税金&nbsp;&nbsp;0.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bui-box bui-btn">
                                    <div class="span1">
                                        <h6 class="item-name">
                                            硬件收入
                                            <span class="bui-right item-number red">+688,000.00</span>
                                        </h6>
                                        <div class="item-detail">
                                            <span>02-10 11:15</span>
                                            <span class="bui-right">税金&nbsp;&nbsp;0.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="bui-box bui-btn total-title">
                                <div class="span1">
                                    <h3 class="total-mark">项目订单合计支出</h3>
                                </div>
                                <span class="part-price">￥222,222,22</span>
                            </div>
                            <div class="bui-list common-profit-list">
                                <div class="bui-box bui-btn">
                                    <div class="span1">
                                        <h6 class="item-name">
                                            技术服务收入
                                            <span class="bui-right item-number">+688,000.00</span>
                                        </h6>
                                        <div class="item-detail">
                                            <span>02-10 11:15</span>
                                            <span class="bui-right">税金&nbsp;&nbsp;0.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bui-box bui-btn">
                                    <div class="span1">
                                        <h6 class="item-name">
                                            自有收入
                                            <span class="bui-right item-number red">+688,000.00</span>
                                        </h6>
                                        <div class="item-detail">
                                            <span>02-10 11:15</span>
                                            <span class="bui-right">税金&nbsp;&nbsp;0.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bui-box bui-btn">
                                    <div class="span1">
                                        <h6 class="item-name">
                                            其他收入
                                            <span class="bui-right item-number">+688,000.00</span>
                                        </h6>
                                        <div class="item-detail">
                                            <span>02-10 11:15</span>
                                            <span class="bui-right">税金&nbsp;&nbsp;0.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bui-box bui-btn">
                                    <div class="span1">
                                        <h6 class="item-name">
                                            云租赁收入
                                            <span class="bui-right item-number red">+688,000.00</span>
                                        </h6>
                                        <div class="item-detail">
                                            <span>02-10 11:15</span>
                                            <span class="bui-right">税金&nbsp;&nbsp;0.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bui-box bui-btn">
                                    <div class="span1">
                                        <h6 class="item-name">
                                            软件收入
                                            <span class="bui-right item-number">+688,000.00</span>
                                        </h6>
                                        <div class="item-detail">
                                            <span>02-10 11:15</span>
                                            <span class="bui-right">税金&nbsp;&nbsp;0.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bui-box bui-btn">
                                    <div class="span1">
                                        <h6 class="item-name">
                                            硬件收入
                                            <span class="bui-right item-number red">+688,000.00</span>
                                        </h6>
                                        <div class="item-detail">
                                            <span>02-10 11:15</span>
                                            <span class="bui-right">税金&nbsp;&nbsp;0.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="bui-box bui-btn total-title">
                                <div class="span1">
                                    <h3 class="total-mark">项目支出汇总</h3>
                                </div>
                                <span class="part-price">￥222,222,22</span>
                            </div>
                            <dl id="accordionPay" class="project-item">
                                    <dt class="bui-box wrap-title container-x">
                                        <div class="span1 mark-title">直接成本</div>
                                        <i class="icon-listdown"></i>
                                    </dt>
                                    <dd  class="project-content">
                                         <ul class="bui-nav bui-fluid common-nav">
                                            <li class="span4 bui-btn bui-box-vertical">
                                                <div class="span1">1000</div>
                                                <span class="mark">差旅费</span>
                                            </li>
                                            <li class="span4 bui-btn bui-box-vertical">
                                                <div class="span1">0</div>
                                                <span class="mark">人工成本</span>
                                            </li>
                                            <li class="span4 bui-btn bui-box-vertical">
                                                <div class="span1">2000</div>
                                                <span class="mark">商务合作费</span>
                                            </li>
                                            <li class="span4 bui-btn bui-box-vertical">
                                                <div class="span1">1000</div>
                                                <span class="mark">杂项成本</span>
                                            </li>
                                            <li class="span4 bui-btn bui-box-vertical">
                                                <div class="span1">0</div>
                                                <span class="mark">中标服务费</span>
                                            </li>
                                            <li class="span4 bui-btn bui-box-vertical">
                                                <div class="span1">2000</div>
                                                <span class="mark">项目经费</span>
                                            </li>
                                        </ul>
                                    </dd>
                        
                                    <dt class="bui-box wrap-title container-x">
                                        <div class="span1 mark-title">分摊成本</div>
                                        <i class="icon-listdown"></i>
                                    </dt>
                                    <dd class="project-content">
                                       <ul class="bui-nav bui-fluid common-nav">
                                            <li class="span4 bui-btn bui-box-vertical">
                                                <div class="span1">1000</div>
                                                <span class="mark">差旅费</span>
                                            </li>
                                            <li class="span4 bui-btn bui-box-vertical">
                                                <div class="span1">0</div>
                                                <span class="mark">人工成本</span>
                                            </li>
                                            <li class="span4 bui-btn bui-box-vertical">
                                                <div class="span1">2000</div>
                                                <span class="mark">商务合作费</span>
                                            </li>
                                        </ul> 
                                    </dd>
                                    <dt class="bui-box wrap-title container-x">
                                        <div class="span1 mark-title">其他成本</div>
                                        <i class="icon-listdown"></i>
                                    </dt>
                                    <dd class="project-content">
                                        <ul class="bui-nav bui-fluid common-nav">
                                            <li class="span4 bui-btn bui-box-vertical">
                                                <div class="span1">1000</div>
                                                <span class="mark">差旅费</span>
                                            </li>
                                            <li class="span4 bui-btn bui-box-vertical">
                                                <div class="span1">0</div>
                                                <span class="mark">人工成本</span>
                                            </li>
                                        </ul>
                                    </dd>
                            </dl>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </main>
</div>