<!-- 这里还是一个标准的BUI页面 -->
<div class="bui-page contractReview-page white-page">
    <header class="common-header">
        <div class="bui-bar">
            <div class="bui-bar-left">
                <span class="bui-btn btn-back"> <i class="icon-back"></i>
                </span>
            </div>
            <div class="bui-bar-main">合同会审</div>
            <div class="bui-bar-right">
                <span class="bui-btn">审批</span>
            </div>
        </div>
    </header>
    <main>
        <div class="review-title">
            <div class="bui-box review-item">
                <div class="bui-label">合同编号</div>
                <div class="span1">BG-21234-232-11</div>
            </div>
            <ul class="bui-nav common-nav">
                <li class="bui-btn bui-box-vertical">
                    <div class="span1">CRM商机</div>
                    <span class="mark">商机</span>
                </li>
                <li class="bui-btn bui-box-vertical">
                    <div class="span1">非框架</div>
                    <span class="mark">类型</span>
                </li>
                <li class="bui-btn bui-box-vertical">
                    <div class="span1">张三</div>
                    <span class="mark">销售</span>
                </li>
            </ul>
        </div>
        <div class="bui-list review-list">
            <div class="bui-box review-item">
                <div class="bui-label">合同</div>
                <div class="span1">张默默云清精密机械第一单1</div>
            </div>
            <div class="bui-box review-item">
                <div class="bui-label">客户</div>
                <div class="span1">张默默云清精密机械第一单1</div>
            </div>
            <div class="bui-box review-item">
                <div class="bui-label">签订公司</div>
                <div class="span1">张默默云清精密机械第一单1</div>
            </div>
            <div class="bui-box review-item">
                <div class="bui-label">销售公司</div>
                <div class="span1">张默默云清精密机械第一单1</div>
            </div>
            <div class="bui-box review-item">
                <div class="bui-label">归属事业部</div>
                <div class="span1">张默默云清精密机械第一单1</div>
            </div>
        </div>
        <div class="review-down">
            <ul class="bui-nav number-nav common-nav">
                <li class="bui-btn bui-box-vertical">
                    <div class="span1 price">888,000</div>
                    <span class="mark">金额</span>
                </li>
                <li class="bui-btn bui-box-vertical">
                    <div class="span1 profit">555,000</div>
                    <span class="mark">利润</span>
                </li>
            </ul>
            <div class="bui-list link-list">
                <div class="bui-box-center bui-btn">
                    <div class="span1">收款计划</div>
                    <span class="number">2</span>
                    <i class="icon-listright"></i>
                </div>
                <div class="bui-box-center bui-btn">
                    <div class="span1">项目</div>
                    <span class="number">2</span>
                    <i class="icon-listright"></i>
                </div>
                <div class="bui-box-center bui-btn">
                    <div class="span1">附件</div>
                    <span class="number">2</span>
                    <i class="icon-listright"></i>
                </div>
            </div>
        </div>
    </main>
</div>