<!-- 这里还是一个标准的BUI页面 -->
<div class="bui-page profit-page white-page">
    <header class="common-header">
        <div class="bui-bar">
            <div class="bui-bar-left">
                <span class="bui-btn btn-back"> <i class="icon-back"></i>
                </span>
            </div>
            <div class="bui-bar-main">合同会审-利润</div>
            <div class="bui-bar-right"></div>
        </div>
    </header>
    <main>
        <div class="profit-page-title">
            <div class="bui-box chart-box">
                <div class="span1">
                    <span class="mark-title">利润(元)</span>
                    <h5 class="number-total">1,659,260</h5>
                </div>
                <div class="wrap-chart">
                    <div id="pieChart" class="chart">
                        
                    </div>
                </div>
            </div>
            

        </div>
        <div class="nav-list">
                <div class="nav-item">
                    <div class="bui-box nav-title">
                        <div class="span1 nav-mark"><i class="nav-icon icon1"></i>收入</div>
                        <span class="item-number">1234,222</span>
                        <i class="icon-listright"></i>
                    </div>
                   <ul class="bui-nav bui-fluid common-nav">
                        <li class="span4 bui-btn bui-box-vertical">
                            <div class="span1 red-color">300,000</div>
                            <span class="mark">技术服务收入</span>
                        </li>
                        <li class="span4 bui-btn bui-box-vertical">
                            <div class="span1">200</div>
                            <span class="mark">自有产品</span>
                        </li>
                        <li class="span4 bui-btn bui-box-vertical">
                            <div class="span1">0</div>
                            <span class="mark">其他收入</span>
                        </li>
                    </ul> 
                </div>
                <div class="nav-item">
                    <div class="bui-box nav-title">
                        <div class="span1 nav-mark"><i class="nav-icon icon2"></i>直接成本</div>
                        <span class="item-number">1234,222</span>
                        <i class="icon-listright"></i>
                    </div>
                   <ul class="bui-nav bui-fluid common-nav">
                        <li class="span4 bui-btn bui-box-vertical">
                            <div class="span1 red-color">300,000</div>
                            <span class="mark">差旅费</span>
                        </li>
                        <li class="span4 bui-btn bui-box-vertical">
                            <div class="span1">200</div>
                            <span class="mark">项目经费</span>
                        </li>
                        <li class="span4 bui-btn bui-box-vertical">
                            <div class="span1">0</div>
                            <span class="mark">资金占用成本</span>
                        </li>
                    </ul> 
                </div>
                <div class="nav-item">
                    <div class="bui-box nav-title">
                        <div class="span1 nav-mark"><i class="nav-icon icon1"></i>间接成本</div>
                        <span class="item-number">1234,222</span>
                        <i class="icon-listright"></i>
                    </div>
                   <ul class="bui-nav bui-fluid common-nav">
                        <li class="span4 bui-btn bui-box-vertical">
                            <div class="span1 red-color">300,000</div>
                            <span class="mark">事业部销售费用分摊</span>
                        </li>
                        <li class="span4 bui-btn bui-box-vertical">
                            <div class="span1">200</div>
                            <span class="mark">事业部费用公摊</span>
                        </li>
                        <li class="span4 bui-btn bui-box-vertical">
                            <div class="span1">0</div>
                            <span class="mark">二线费用分摊</span>
                        </li>
                    </ul> 
                </div>
                <div class="nav-item">
                    <div class="bui-box nav-title">
                        <div class="span1 nav-mark"><i class="nav-icon icon1"></i>其它成本</div>
                        <span class="item-number">1234,222</span>
                        <i class="icon-listright"></i>
                    </div>
                   <ul class="bui-nav bui-fluid common-nav">
                        <li class=" span4 bui-btn bui-box-vertical">
                            <div class="span1 red-color">300,000</div>
                            <span class="mark">项目销售成本</span>
                        </li>
                    </ul> 
                </div>
                
            </div>
    </main>
</div>