<!-- 这里还是一个标准的BUI页面 -->
<div class="bui-page workLoad-page white-page">
    <header class="common-header">
        <div class="bui-bar">
            <div class="bui-bar-left">
                <span class="bui-btn btn-back"> <i class="icon-back"></i>
                </span>
            </div>
            <div class="bui-bar-main">工作量</div>
            <div class="bui-bar-right"></div>
        </div>
    </header>
    <main>
        <div class="workLoad-list container-x">
            <ul class="bui-nav common-nav">
                <li class="bui-btn bui-box-vertical">
                    <div class="span1">1000</div>
                    <span class="mark">预计内部工作量</span>
                </li>
                <li class="bui-btn bui-box-vertical">
                    <div class="span1">0</div>
                    <span class="mark">中标服务费</span>
                </li>
                <li class="bui-btn bui-box-vertical">
                    <div class="span1">2000</div>
                    <span class="mark">商务合作费</span>
                </li>
            </ul>
            <ul class="bui-nav common-nav">
                <li class="bui-btn bui-box-vertical">
                    <div class="span1">1000</div>
                    <span class="mark">预计内部工作量</span>
                </li>
                <li class="bui-btn bui-box-vertical">
                    <div class="span1">0</div>
                    <span class="mark">中标服务费</span>
                </li>
                <li class="bui-btn bui-box-vertical">
                    <div class="span1">2000</div>
                    <span class="mark">商务合作费</span>
                </li>
            </ul>
        </div>
    </main>
</div>